body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
}

#loading-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.story-list {
    margin: 20px 0;
}

.story {
    margin: 10px;
    font-size: 20px;
}

.story a {
    text-decoration: none;
    color: blue;
}

.story-container {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.synopsis {
    font-style: italic;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 80px;
} 
